.loading-container {
    background-color: #252527;
    width: 100vw;
    height: 100vh;
    position: relative;
    color: rgba(74,24,160,1);
    display: flex;
    justify-content: center;
    align-items: center;
}