.discord-container {
    position: relative;
    color: #fafafa;
    background-image: radial-gradient(circle, rgba(76,44,193,0.7688725490196079) 0%, rgba(61,44,246,0.5576680672268908) 100%),url("../images/discord.png");
    min-height: 165px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
}


.discord-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 5em;
    align-items: center;
    justify-content: space-between;
}

.discord-content h3 {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 0.5rem;
}


.discord-content a {
    text-decoration: none;
    color: rgba(76,44,193,1);
    background-color: #fafafa;
    border-radius: 5px;
    padding: 0.5rem 0.8rem;
}

.discord-content img {
    position: absolute;
    top: -30px;
    right: 10px;
    height: 180px;
}

@media (max-width: 580px) {


    .discord-content img {
        display: none;
    }
}

@media (max-width: 410px) {
    .discord-container {
        width: 270px;
    }

    .discord-content h3 {
        font-size: 18px;
    }

    .discord-content a {
        font-size: 14px;
    }

    .discord-content {
        margin: 0 50px;
    }

}