.discord-container {
    position: relative;
    color: #fafafa;
    background-image: radial-gradient(circle, rgba(76,44,193,0.7688725490196079) 0%, rgba(61,44,246,0.5576680672268908) 100%),url("../images/discord.png");
    min-width: 49%;
    max-height: 100%;
    min-height: 10rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}


.discord-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100%;
    min-height: 100%;
    margin: 0 5em;
    align-items: center;
    justify-content: space-between;
}

.discord-content h3 {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 0.5rem;
}


.discord-content a {
    text-decoration: none;
    color: rgba(76,44,193,1);
    background-color: #fafafa;
    border-radius: 5px;
    padding: 0.5rem 0.8rem;
}

.discord-content img {
    position: absolute;
    top: -2rem;
    right: 5rem;
    height: 11rem;
}
