
.home-main {
    width: 100%;
    min-height: 100vh;
    background-color: #252527;
    padding-bottom: 4rem;
}

.main-links {
    max-height: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(500px, 1fr));
    gap: 50px;
    /*width: 1360px;*/
    /*margin: 0 auto;*/
    padding: 1rem 5rem;
    padding-top: 100px;

}

.games {
    position: relative;
    max-width: 100vw;
    max-height: 100%;
    padding: 1rem 5rem;
}

.vote-link {
    height: 100%;
    width: 100%;
}