
.home-main {
    width: 100%;
    min-height: 100vh;
    background-color: #252527;

}

.main-links {
    position: relative;
    max-width: 100vw;
    max-height: 100%;
    padding: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.games {
    position: relative;
    max-width: 100vw;
    max-height: 100%;
    padding: 1rem 5rem;
}

.vote-link {
    height: 100%;
    width: 100%;
}