.minecraft-container {
    position: relative;
    color: #fafafa;
    background-image: radial-gradient(circle, rgba(28, 127, 56, 0.77) 0%, rgba(33, 188, 35, 0.56) 100%),url("../images/mcBackground.png");
    min-width: 100%;
    max-height: 100%;
    min-height: 165px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.minecraft-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;
    margin: 0 5em;
    align-items: center;
    justify-content: space-between;
}

.minecraft-content h3 {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 0.1rem;
}

.minecraft-content p {
    font-size: 20px;
    padding-bottom: 0.5rem;
}

.minecraft-content a {
    text-decoration: none;
    color: rgb(59, 141, 32);
    background-color: #fafafa;
    border-radius: 5px;
    padding: 0.5rem 0.8rem;
}

.minecraft-content a:hover {
    cursor: pointer;
}

.minecraft-content img {
    position: absolute;
    top: -3rem;
    right: 5rem;
    height: 14rem;
}