.navbar {
    width: 100%;
    height: auto;
    background-color: transparent;
    position: fixed;
    color: #fafafa;
    z-index: 1;
    box-sizing: border-box;
    transition: .3s;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-container {
    width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.sticky {
    background-color: #252527;
    box-shadow: 1px 8px 15px 5px rgba(0,0,0,0.25);
}

.navbar-logo img {
    height: 75px;
}

.navbar-links {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
}



.navbar-links a:hover {
    cursor: pointer;
    color: rgb(208, 208, 208);;
}

.navbar-store a{
    background-color: rgba(74,24,160,1);
    border-radius: 10px;
    padding: 0;
    padding: 0.6rem;
}