.navbar {
    width: 100%;
    height: auto;
    background-color: transparent;
    position: fixed;
    color: #fafafa;
    z-index: 1;
    box-sizing: border-box;
    transition: .3s;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-container, .navbar-container-active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
}

.sticky {
    background-color: #252527;
    box-shadow: 1px 8px 15px 5px rgba(0,0,0,0.25);
}

.navbar-logo img {
    height: 75px;
}

.navbar-links, .navbar-links-active {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
}

.navbar-buttons {
    display: none;
}

.navbar-links a:hover {
    cursor: pointer;
    color: rgb(208, 208, 208);;
}

.navbar-store a{
    background-color: rgba(74,24,160,1);
    border-radius: 10px;
    padding: 0.6rem;
}

@media (max-width: 820px) {

    .navbar-links {
        display: none;
    }

    .navbar-buttons {
        display: flex;
    }

    .navbar-links-active {
        display: flex;
        flex-direction: column;
    }

    .navbar-logo-active img {
        padding-left: 15px;
        margin-bottom: 50px;
        margin-top: 15px;
        height: 75px;
    }

    .navbar-container-active {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #252527;
        height: 100vh;
        align-items: center;
        justify-content: normal;
        top: 0;
        left: 0;
        z-index: 100;
    }

    .navbar-container-active svg{
        cursor: pointer;
        position: absolute;
        top: 25px;
        right: 25px;
    }

    .navbar-container svg{
        cursor: pointer;
    }
}

@media (max-width: 400px) {
    .navbar-container {
        padding: 1rem 3rem;
    }

}